{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Josefino blog.mp3 4K</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
    <h1><a href="{% url 'home' %}"> Blog </a></h1>
    </header>
        <section>
            <div>
                <a href="{% url 'post_new' %}">New post</a>
            </div>
            {% if user.is_authenticated %}
                <p>Hi {{user.username}}!</p>
                <!-- <a href="{% url 'logout' %}">Logout</a> -->

                {% else %}  
                <p>No esta autenticado</p>
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                
            {% endif %}


            {% block content %}
            <!--Blah blah blah -->
            {% endblock content %}
        </section>
</body>
</html>